<!doctype html>



<html lang="zh-hk">
    <head>
        <title>失蹤人口 - 尋找 Private Ryan </title>
        <link rel="canonical" href="">
<meta charset="utf-8">
<meta name="theme-color" content="#563d7c">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- ICON -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="/css/base.css" rel="stylesheet">
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- VUE.js libraries -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-moment@4.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
<!-- Firebase libraries -->
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-firestore@0.3.22"></script>
<script>
// Your web app's Firebase configuration
var firebaseConfig = {
	apiKey: "AIzaSyCCck3qekiA_x8iZYU3FLWUVlHw-HA4oOU",
	authDomain: "findingprivateryan.firebaseapp.com",
	databaseURL: "https://findingprivateryan.firebaseio.com",
	projectId: "findingprivateryan",
	storageBucket: "findingprivateryan.appspot.com",
	messagingSenderId: "977622455120",
	appId: "1:977622455120:web:28a162a4d1bf21c064d255"
};
// Initialize Firebase
const firebaseApp = firebase.initializeApp(firebaseConfig);

</script>
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>       
    </head>
    <body>
        <div class="container">
<header class="blog-header py-3">
	<div class="row flex-nowrap justify-content-between align-items-center">
		<div class="col-3 pt-1">
			<div class="d-md-none" style="background: url('/images/logo_s.png');width:56px;height:60px;background-position: center center;background-repeat: no-repeat;"></div>
		</div>
		<div class="d-md-none col-6 text-center">
			<a class="blog-header-logo text-dark" href="/">尋找 Private Ryan</a>
		</div>
		<div class="d-none d-md-block col-6 text-center" style="background: url('/images/logo.png');height:160px !important; background-position: center center;background-repeat: no-repeat; padding-left:160px;text-align:right !important;">
			<a class="blog-header-logo text-dark" href="/" style="position: relative; bottom: -50px">尋找 Private Ryan</a>
		</div>
		<div class="col-3 d-flex justify-content-end align-items-center">
			<!--
			<a class="text-muted" href="#" aria-label="Search">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
			</a>
			-->
			<a class="btn btn-sm btn-outline-secondary" href="#">網站籌備中...</a>
		</div>
	</div>
</header>
<div class="nav-scroller py-1 mb-2">
	<nav class="nav d-flex justify-content-between">
		<a class="p-2 text-muted" href="/mission.html" >成立目的</a>
		<a class="p-2 text-muted" href="/missing.html"  style="color: #dd232e!important;font-weight: 700" >失蹤人口</a>
		<a class="p-2 text-muted" href="/regulations.html" >認清法規</a>
		<a class="p-2 text-muted" href="/help.html" >尋求協助</a>
		<a class="p-2 text-muted" href="/hong-kong-family-online.html" >香港家人連線</a>
		<a class="p-2 text-muted" href="/news.html" >最新消息</a>
		<a class="p-2 text-muted" href="/review.html" >每月回顧</a>
		<a class="p-2 text-muted" href="/aboutus.html" >尋找我們</a>
		<a class="p-2 text-muted" style="color: #3b5998 !important" href="https://www.facebook.com/FindingPrivateRyan/">
			<i class="fa fa-facebook" aria-hidden="true"></i>
		</a>
		<a class="p-2 text-muted" style="color: #3f729b !important" href="">
			<i class="fa fa-instagram" aria-hidden="true"></i>
		</a>
	</nav>
</div>
        </div>
        <main role="main" class="container">
            <div class="container">
	<div id="missingList" class="row mb-2">
		<div class="col-md-12" style="background-color:#e9ecef; padding: 1rem; margin-bottom: 1rem; border-radius: 0.5rem">
			<form>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="search_name">名字</label>
						<input v-model.trim="m_name" v-on:keyup="filter" type="text" maxlength="50" class="form-control" id="search_name" placeholder="名字、暱稱">
					</div>
					<div class="form-group col-md-4">
						<label for="search_gender">姓別</label>
						<select v-model.trim="m_gender" v-on:change="filter" id="search_gender" class="form-control">
							<option selected value="ALL">不限</option>
							<option value="M">男</option>
							<option value="F">女</option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="search_age_range">年齡</label>
						<select v-model.trim="m_age_range" v-on:change="updateAgeRange" id="search_age_range" class="form-control">
							<option selected value="ALL">不限</option>
							<option value="1_17">&lt; 18</option>
							<option value="18_35">18 ~ 35</option>
							<option value="36_49">36 ~ 49</option>
							<option value="50_64">50 ~ 64</option>
							<option value="65_120">&gt;&equals; 65</option>
						</select>
					</div>
					<div class="form-group col-md-12">
						符合條件的記錄有: %{matched_no} 項
					</div>
				</div>
			</form>
			<button v-on:click="resetFilter">重設</button>
		</div>

		<wanted-notice v-if="!this.isError"
			v-for="item in wantedList"
			v-bind:wanted = "item"
			v-bind:key = "item.id"
			v-bind:id = "'wanted_' + item.id"
			v-bind:matched = "item.matched"
		>
		</wanted-notice>

		<div v-if="this.isError">
			未能讀取資料
		</div>
	</div>
</div>

<script type="text/javascript">
	Vue.component('wanted-notice', {
		delimiters: ['%{', '}'],
		props: [ 'wanted', "matched" ],
		template: `
<div class="col-md-6" v-if="matched && !wanted.isFound">
	<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
		<div class="col p-4 d-flex flex-column position-static">
			<strong class="d-inline-block mb-2 text-primary">失蹤人士</strong>
			<h3 class="mb-0" v-if="wanted.name != '-'">%{wanted.name}</h3>
			<h3 class="mb-0" v-else>姓名不詳</h3>
			<div class="mb-1 text-muted"><span v-if="wanted.gender != '-'">%{wanted.gender}</span><span v-else>性別不詳</span> <span v-if="wanted.age > 0">%{wanted.age}</span><span v-else>年齡不詳</span></div>
			<div class="mb-1 text-muted">
	  			<span v-if="wanted.year == '-' || wanted.year == ''" class=""> - 年</span>
	  			<span v-else class="">%{wanted.year} 年</span>
	  			<span v-if="wanted.month == '-' || wanted.month == ''" class=""> - 月</span>
	  			<span v-else class="">%{wanted.month} 月</span>
	  			<span v-if="wanted.day == '-' || wanted.day == ''" class=""> - 日</span>
	  			<span v-else class="">%{wanted.day} 日 </span>
			</div>
			<p class="card-text mb-auto">%{wanted.description}</p>
			<a v-if="wanted.source != '-' && wanted.source_url != '-'" :href="wanted.source_url" target="_blank" class="text-muted">來源: %{wanted.source}</a>
			<div v-else-if="wanted.source != '-' && wanted.source_url == '-'" class="text-muted">來源: %{wanted.source}</div>
			<p class="card-text mb-auto"><span v-for="tag in wanted.tags" class="badge badge-info">%{tag}</span></p>
		</div>
		<div class="col-auto d-none d-lg-block">
			<img v-if="wanted.image_src && wanted.image_src != ''" :src="wanted.image_src" class="img-fluid" style="width:200px"/>
			<svg v-else class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">近照 200 x 250</text></svg>
		</div>
		<div class="col-auto d-lg-none">
			<img v-if="wanted.image_src && wanted.image_src != ''" :src="wanted.image_src" class="img-fluid" style="width:100px"/>
			<svg v-else class="bd-placeholder-img" width="100" height="125" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">近照縮圖</text></svg>
		</div>
	</div>
</div>`
	})

	var app = new Vue({
		el: '#missingList',
		data : {
			isError: false,
			m_name:'',
			m_gender:'ALL',
			m_age_range:'ALL',
			m_age_range_min: 0,
			m_age_range_max: 120,
			matched_no: 0,
			wantedList: []
		},
		mounted: function () {
			this.$nextTick(function () {
				this.loadData();
			});
		},
		methods: {
			loadData: function() {
				try {
					this.$http.get('/data/wanted.json?' + new Date().getTime() ).then( response => {
						this.wantedList = response.data;
						if (Array.isArray(this.wantedList)){
							this.wantedList.map( function ( v, k ){
								v.matched = true;
								return v;
							}); 
							this.filter();
						} else {
							this.isError = true;
							console.log('Fail to load data');							
						}
					}, response => {
						this.isError = true;
						console.log('Fail to load data');
					});	
				} catch (error) {
					console.log (error);
					this.isError = true;
				}
			},
			filter: function (){
				this.matched_no = 0;
				return this.wantedList.map( function (wanted) {
					if ( !wanted.isFound) {
						wanted.matched = true;
						if (this.m_gender != "ALL" && wanted.gender != "-" && wanted.gender != this.m_gender){
							wanted.matched = false
						}
						if (wanted.matched && this.m_age_range != "ALL" && wanted.age != 0 && ( wanted.age < this.m_age_range_min || wanted.age > this.m_age_range_max ) ){
							wanted.matched = false
						}
						if (wanted.matched && this.m_name != "" && wanted.name != "-" && !wanted.name.toUpperCase().includes(this.m_name.toUpperCase())){
							wanted.matched = false
						}
						if (wanted.matched){
							this.matched_no++;
						}
					} else {
						// Exclude isFound
					}
					return wanted
				}.bind(this))
				console.log(this.matched_no + " records matched.");
			},
			updateAgeRange: function(){
				ranges = (this.m_age_range == 'ALL' ? [0,120] : this.m_age_range.split("_"));
				this.m_age_range_min = ranges[0];
				this.m_age_range_max = ranges[1];
				this.filter();
			},
			resetFilter: function(){
				this.m_name = '';
				this.m_gender = 'ALL';
				this.m_age_range = 'ALL';
				this.m_age_range_min = 0;
				this.m_age_range_max = 120;
				this.filter();
			}
		},
		delimiters: ['%{', '}']
	})
	$("form").on('submit',function(e){
		e.preventDefault();
	});
	
</script>
        </main><!-- /.container -->
        <!-- 
<footer class="blog-footer">
	<p>五大訴求 缺一不可</p>
</footer>
-->
    </body>
</html>